name: Quality Assurance

on: [push]

jobs:
  unit-tests:
    # Runs the project's unit tests with pytest.

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2.1.4
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run pytest on the repository
      run: |
        pytest .
